* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Inter, Arial, sans-serif;
  
  background:
    radial-gradient(circle at top left, rgba(56,189,248,.22), transparent 34%),
    radial-gradient(circle at bottom right, rgba(147,51,234,.25), transparent 40%),
    #020617;
  color: white;
}

.info-tap { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-pack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.10px;
  
}

.create-pack {
  padding: 26px 18px 80px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
}

.back-btn {
  color: #7dd3fc;
  text-decoration: none;
  font-weight: 900;
  margin-top: 0px;
}

.hero {
  margin-top: 34px;
}

.hero p {
  color: #38bdf8;
  letter-spacing: .22em;
  font-size: .72rem;
  font-weight: 900;
}

.hero h1 {
  margin: 8px 0 30px;
  font-size: 3.7rem;
  line-height: .86;
  letter-spacing: -.07em;
}

.hero span {
    margin-top: 20px;
  color: rgba(255,255,255,.62);
}

.progress {
  display: none;
}

.progress-mobile {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 34px 0;
}

.step {
  display:none;
}

.step-mobile {
  padding: 14px;
  display: flex;
  border-radius: 999px;
  text-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  font-weight:800;
  background: rgba(255,255,255,.07);
  color: rgba(255,255,255,.45);
  border: 1px solid rgba(255,255,255,.1);
}

.step-mobile.active {
  background: linear-gradient(135deg, #0284c7, #38bdf8);
  color: white;
}

.mission-card {
  padding: 24px;
  border-radius: 34px;
  background: rgba(8,18,34,.88);
  border: 1px solid rgba(255,255,255,.13);
}

.mission-card h2 {
  margin-top: 0;
  font-size: 2rem;
}

.mission-card p {
  color: rgba(255,255,255,.58);
  line-height: 1.6;
}

label {
  display: block;
  margin-top: 18px;
  font-weight: 900;
  color: rgba(255,255,255,.78);
}

input,
select,
textarea {
  width: 100%;
  margin-top: 10px;
  padding: 17px;
  border-radius: 18px;
  border: 1px solid rgba(255,255,255,.13);
  background: rgba(255,255,255,.08);
  color: white;
  outline: none;
}

textarea {
  min-height: 120px;
}

.choice-grid {
  display: grid;
  gap: 12px;
  margin-top: 18px;
  display: flex;
  justify-content: center;
}

.choice {
  padding: 18px 18px 18px;

  border-radius: 22px;
  background: rgba(255,255,255,.07);
  border: 1px solid rgba(255,255,255,.12);
  cursor: pointer;
  
}

.choice.active {
  border-color: #38bdf8;
  box-shadow: 0 0 35px rgba(56,189,248,.18);
}


.price-preview {
  margin-top: 10px;
  color: #5ecbff;
  font-weight: 900;
  font-size: 1.2rem;
}

.legal-box {
  margin-top: 20px;
  padding: 18px;
  border-radius: 22px;
  background: rgba(239,68,68,.08);
  border: 1px solid rgba(248,113,113,.22);
  color: rgba(255,255,255,.7);
}

.actions {
  display: flex;
  gap: 12px;
  margin-top: 28px;
}

button {
  flex: 1;
  padding: 17px;
  border: none;
  border-radius: 999px;
  font-weight: 900;
  color: white;
  cursor: pointer;

}

.next-btn {
  background: linear-gradient(135deg, #0284c7, #38bdf8);
}

.prev-btn {
  background: rgba(255,255,255,.1);
}

select {
  appearance: none;
  -webkit-appearance: none;
  background:
    linear-gradient(135deg, rgba(255,255,255,.08), rgba(56,189,248,.08)),
    #132136;
  color: white;
}

select option {
  background: #020617;
  color: white;
}

select option:hover,
select option:checked {
  background: #0ea5e9;
  color: white;
}

.upload-card {
  position: relative;
  min-height: 95px;
  margin-top: 10px;
  padding: 18px;
  border-radius: 24px;
  border: 1px solid rgba(255,255,255,.14);
  background: rgba(255,255,255,.07);
  cursor: pointer;
  overflow: hidden;
}

.upload-card input {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}

.upload-content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.upload-content span {
  font-weight: 900;
  font-size: 1.1rem;
}

.upload-content small {
  color: rgba(255,255,255,.55);
}

.track-cover-img {
  width: 100px;
  height: 100px;
  border-radius: 18px;
  object-fit: cover;
  border: 1px solid rgba(255,255,255,.18);
}

.audio-player {
  width: 100%;
}

.track-limit-box {
  margin-top: 18px;
  padding: 16px;
  border-radius: 20px;
  background: rgba(56,189,248,.1);
  border: 1px solid rgba(56,189,248,.2);
  color: #7dd3fc;
  font-weight: 900;
}

.input-line {
  display: flex;
  gap: 18px;
  align-items: center;
  width: 100%;
}

.input-line input {
  flex: 1;
}

.add-track-btn{
  width: 50%;
  height: 58px;

  border-radius: 58px;

  background: rgba(80, 160, 255, 0.08);

  border: 1px solid rgba(120, 190, 255, 0.25);

  color: #8fd3ff;
  margin: 20px;
  margin-bottom: 10px;
  margin-left: 180px;
  cursor: pointer;

  font-weight: 600;

  backdrop-filter: blur(12px);

  transition: 0.25s;
}
 
.add-track-btn:hover{
  background: rgba(80, 160, 255, 0.14);

  border-color: rgba(120, 190, 255, 0.45);

  transform: translateY(-2px);
}

.track-card {
  padding-bottom: 45px;
  border-bottom: 1px solid rgba(120, 190, 255, 0.35);
}

.track-card + .track-card {
  margin-top: 0px;
}

.track-container {
  display: flex;
  flex-direction: column;
  gap: 40px
}




@media (min-width: 900px) {
  
  .progress-mobile {display: none}
  
  .create-pack-page {
    padding: 50px;
  }

  .hero h1 {
    font-size: 6rem;
  }

  .progress {
    grid-template-columns: repeat(4, 1fr);
  }

  .mission-card {
    max-width: 820px;
  }

  .choice-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  * {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Inter, Arial, sans-serif;
  
  background:
    radial-gradient(circle at top left, rgba(56,189,248,.22), transparent 34%),
    radial-gradient(circle at bottom right, rgba(147,51,234,.25), transparent 40%),
    #020617;
  color: white;
}

.create-pack {
  padding: 26px 18px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.back-btn {
  color: #7dd3fc;
  text-decoration: none;
  font-weight: 900;
  margin-top: 0px;
}

.hero {
  margin-top: 34px;
}

.hero p {
  color: #38bdf8;
  letter-spacing: .22em;
  font-size: .72rem;
  font-weight: 900;
}

.hero h1 {
  margin: 8px 0 30px;
  font-size: 3.7rem;
  line-height: .86;
  letter-spacing: -.07em;
}

.hero span {
    margin-top: 20px;
  color: rgba(255,255,255,.62);
}

.progress {
  display: grid;
  gap: 10px;
  margin: 34px 0;
}

.step-mobile {
  display: none;
}

.step {
  padding: 14px;
  display: flex;
  border-radius: 999px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight:800;
  background: rgba(255,255,255,.07);
  color: rgba(255,255,255,.45);
  border: 1px solid rgba(255,255,255,.1);
}

.step.active {
  background: linear-gradient(135deg, #0284c7, #38bdf8);
  color: white;
}

.mission-card {
  padding: 24px;
  border-radius: 34px;
  background: rgba(8,18,34,.88);
  border: 1px solid rgba(255,255,255,.13);
}

.mission-card h2 {
  margin-top: 0;
  font-size: 2rem;
}

.mission-card p {
  color: rgba(255,255,255,.58);
  line-height: 1.6;
}

label {
  display: block;
  margin-top: 18px;
  font-weight: 900;
  color: rgba(255,255,255,.78);
}

input,
select,
textarea {
  width: 100%;
  margin-top: 10px;
  padding: 17px;
  border-radius: 18px;
  border: 1px solid rgba(255,255,255,.13);
  background: rgba(255,255,255,.08);
  color: white;
  outline: none;
}

textarea {
  min-height: 120px;
}

.choice-grid {
  display: grid;
  gap: 12px;
  margin-top: 18px;
  display: flex;
  justify-content: center;
}

.choice {
  padding: 18px 18px 18px;

  border-radius: 22px;
  background: rgba(255,255,255,.07);
  border: 1px solid rgba(255,255,255,.12);
  cursor: pointer;
  
}

.choice.active {
  border-color: #38bdf8;
  box-shadow: 0 0 35px rgba(56,189,248,.18);
}


.price-preview {
  margin-top: 10px;
  color: #5ecbff;
  font-weight: 900;
  font-size: 1.2rem;
}

.legal-box {
  margin-top: 20px;
  padding: 18px;
  border-radius: 22px;
  background: rgba(239,68,68,.08);
  border: 1px solid rgba(248,113,113,.22);
  color: rgba(255,255,255,.7);
}

.actions {
  display: flex;
  gap: 12px;
  margin-top: 28px;
}

button {
  flex: 1;
  padding: 17px;
  border: none;
  border-radius: 999px;
  font-weight: 900;
  color: white;
  cursor: pointer;
}

.next-btn {
  background: linear-gradient(135deg, #0284c7, #38bdf8);
}

.prev-btn {
  background: rgba(255,255,255,.1);
}

select {
  appearance: none;
  -webkit-appearance: none;
  background:
    linear-gradient(135deg, rgba(255,255,255,.08), rgba(56,189,248,.08)),
    #132136;
  color: white;
}

select option {
  background: #020617;
  color: white;
}

select option:hover,
select option:checked {
  background: #0ea5e9;
  color: white;
}

.upload-card {
  position: relative;
  min-height: 95px;
  margin-top: 10px;
  padding: 18px;
  border-radius: 24px;
  border: 1px solid rgba(255,255,255,.14);
  background: rgba(255,255,255,.07);
  cursor: pointer;
  overflow: hidden;
}

.upload-card input {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}

.upload-content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.upload-content span {
  font-weight: 900;
  font-size: 1.1rem;
}

.upload-content small {
  color: rgba(255,255,255,.55);
}

.track-cover-img {
  width: 100px;
  height: 100px;
  border-radius: 18px;
  object-fit: cover;
  border: 1px solid rgba(255,255,255,.18);
}

.audio-player {
  width: 100%;
}

.track-limit-box {
  margin-top: 18px;
  padding: 16px;
  border-radius: 20px;
  background: rgba(56,189,248,.1);
  border: 1px solid rgba(56,189,248,.2);
  color: #7dd3fc;
  font-weight: 900;
}

.input-line {
  display: flex;
  gap: 18px;
  align-items: center;
  width: 100%;
}

.input-line input {
  flex: 1;
}

.validate-price-btn,
.validate-title-btn {
     width: 52px;
  height: 52px;
  border: 0;
  border-radius: 19px;
  background: linear-gradient(135deg, #0284c7, #38bdf8);
  color: white;
  margin-top: 8px;
  font-weight: 900;
  cursor: pointer;
}
 
}