

h1 {
  font-size: 28px;
}

.Accueil{ 
    background: linear-gradient(140deg, black,black, black, black,  #48023a);
    overflow-x: hidden;
  background-color: black;
    color: White;
  font-family: 'inter', sans-serif; 
  height: 280vh;
}


.side-panel {
  display: none;
}


.brand {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0px;
  background: black;
  height: 80px;
 
}




.brand-logo {
 width: 55px;
 
  height: 55px;
  border-radius: 999px;
  
margin-top: 0px;
  background: linear-gradient(90deg, purple, blue);
  padding: 2px;
    
  display: inline-block;

}

.page {
  font-size: 20px;
  margin-left: 10px;
  letter-spacing: 0.01px;
  text-shadow: 0 0 7px white;
}

.brand-info {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0);
  z-index:9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  inset: 0;
  height: 100vh;

  width: 100vw;
  border-radius: 39px;

  transition: opacity 0.50s ease;
}


.spinner {
  width: 30px;
  height: 30px;
  border: 2px solid rgba(255, 255, 255, 0.2);
    border-top: 2px solid #ffffff;
  border-radius: 100%;
  animation: spin 0.70s linear infinite;
  transition: opacity 0.50s ease;
  opacity: 1;
}

.loader-text {
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.3;
  transition: opacity 0.50s ease;
  
}

.scroll-zone {
 overflow: hidden;
}

.pack-categorie {
  padding: 0px;
  flex-direction: row;
}

.pack-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

#content {
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
}

.card {
  display: flex;
    justify-content: left;
    padding: 0px;
    align-content: left;
    align-items: left;
    
    
    margin-left: 0;
    gap: 13px;
    max-width: 160px;
    padding-top: -20px;
    margin-top: 0px;
    border-radius: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    background: black;
    color: white;
    font-family: 'inter', sans-serif;
    cursor: pointer;
    all: unset;
    display: block;
}



.cover {
  width: 160px;
  height: 160px;
  border-radius: 10px;
  overflow: hidden;
  background: #111;
}

.image-cover {
  width: 100%;
  height: 100%;
overflow: hidden;
}

.info {
    color: '#ffffff';
  margin: 0;
  margin-top: 10px;
  margin-left: 20px, 
}

.title {
    font-size: 18px;
      margin-top: 0px;
}

.artist {
  margin-top: -10px;
  font-size: 13px;
  opacity: 0.75;
}

.loader.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3;
 }



 




 @keyframes spin {
  to {
    transform: rotate(360deg);
  }
 }

 @media  (min-width: 900px)  {
 

.Accueil{ 
     overflow: hidden;
     margin: 0;
     height: 100%;
      background: black;
  color: White;
  font-family: 'inter', sans-serif; 
}

.main-content {
  height: 100vh;
  display: grid;
  grid-template-rows: 130px 1fr;
  overflow: hidden;
}

.scroll-zone {
  margin-top: -39px;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
  padding: 40px 40px;
  background: linear-gradient(140deg ,rgb(52, 52, 52), black,black,  #484302);
  height: 100%;
}

.app-layout {
  
  display: grid;
  grid-template-columns: 244px 1fr;
  height: 100vh;
  background: #050505;
  color: white;
}

.side-panel {
  background-color: #2424247c;
  display: block;
  display: flex;
  overflow: hidden;
  text-align: left;
  justify-content: left;
  align-items: left;
  width: 244px 1fr;

  height: 100vh;
  
}

.accueil-btn {
    display: flex;
    justify-content: left;
    text-align: left;
    align-items: center;
  margin-top: 80px;
  margin-left: 0px;
  height: 30px;
  width: 270px;
  font-size:  19px;
  border-radius: 5px;
  background: transparent;
  gap: 8px;
  cursor: pointer;
  border: none;
  color: white;
  transition: color 3s ease, text-shadow 3s ease, backdrop-filter 3s ease;
}


.accueil-btn.active {
    background:  rgba(166, 166, 166, 0.3);
}

.accueil-btn.active{
  backdrop-filter: blur(10px);
  border-radius: 16px;

   background: linear-gradient(90deg, #4FACFE, #a855f7);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

   text-shadow: 0 0 9px rgba(100, 150, 255, 0.3);

}

.categorie-name {
  margin-top: 20px;
  margin-left: 50px;
  font-family: 'inter', sans-serif;
}

.brand {
  display: flex;
  align-items: left;
  
  align-items: left;
  gap: 50px;
  height: 50px;
  
   overflow: hidden;
  background: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.30);
  padding: 20px 30px;
  }


  
.brand-logo {
  width: 70px;
  margin-top: 0px;
  height: 70px;
  border-radius: 999px;
  
  margin-bottom: 0px;
  margin-left: 0px;
  
  padding: 2px;
  display: inline-block;
}

.brand-info {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

}




.loader {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 252px;
  border-radius: 0;
  height: 700px;
  margin-top: 99px;
  max-width: 1150px;
  background: rgb(0, 0, 0);
}

.spinner {
  width: 30px;
  display: flex;
  justify-content: center;
  height: 30px;
  border: 3px solid rgba(255, 255, 255, 0.2);
    border-top: 3px solid #ffffff;
  border-radius: 100%;
  animation: spin 0.70s linear infinite;
}

.loader-text {
  margin-top: 10px;
  font-size: 14px;
  opacity: 0.3;
} 

.loader.hide {
  opacity: 0;
 }

.spinner.hide {
  opacity: 0;
}

.loader-text.hide {
 opacity: 0;
}


.pack-categorie {
  margin-top: 0px;
}

.pack-row {
  display: flex;
   gap: 30px;
  flex-wrap: wrap;
}

.card {
  display: flex;
    justify-content: left;
    padding: 0px;
    align-content: left;
    align-items: left;
    flex-wrap: nowrap;
    flex-direction:column;
    margin-left: 0;
    gap: 23px;
    max-width: 220px;
    padding-top: -20px;
    margin-top: 0px;
    border-radius: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    background: black;
    color: white;
    font-family: 'inter', sans-serif;
    cursor: pointer;
    all: unset;
    display: block;
}



.cover {
  width: 260px;
  height: 260px;
  border-radius: 10px;
  overflow: hidden;
  background: #111;
}

.image-cover {
  width: 100%;
  height: 100%;
overflow: hidden;
}

.info {
    color: '#ffffff';
  margin: 0;
  margin-top: 10px;
  margin-left: 20px, 
}

.title {
    font-size: 18px;
      margin-top: 0px;
}

.artist {
  margin-top: -10px;
  font-size: 13px;
  opacity: 0.75;
}






  @keyframes alternate {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }

   @keyframes spin {
  to {
    transform: rotate(360deg);
  }
 }

 }
